@use "../variables/variables" as var;
.hidden-btn {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.8;
  color: var.$btn-color;
  background-color: var.$post-delete-color;
  padding: 0.2rem;
}
.hidden-btn:hover {
  background-color: var.$post-delete-color-hover;
}
.hidden-btn:active {
  background-color: var.$post-delete-color-active;
}
@media screen and (min-width: var.$change-delete-breakpoint) {
  .hidden-btn {
    display: none;
  }
}
