@use "../variables/variables" as var;
.pagination {
  background-color: var.$table-th-color;
  //   display: flex;
  //   width: auto;
  //   gap: 1rem;
  //   justify-content: center;
  //   align-items: center;
  //   margin-bottom: 1.5rem;
}
.pagination td {
  background-color: var.$table-thead-bg-color;
}
.pagination p {
  cursor: pointer;
  //   font-size: 1.2rem;
  //   margin: 0;
  //   padding: 0;
  color: var.$post-span-color;
}
.pagination .empty-message {
  color: var.$paragraph-color;
  text-align: center;
  font-weight: bold;
}
.pagination td:first-child {
  border-radius: 0 0 0 5px;
}
.pagination td:last-child {
  border-radius: 0 0 5px 0;
}
.pagination .prev {
  text-align: start;
}
.pagination .reset {
  text-align: center;
}
.pagination .next {
  text-align: end;
}
.pagination p:not(.empty-message):hover {
  text-decoration: underline;
}
