$dashboard-bg-color: #222;
$content-bg-color: #333;
$header-color: #c3c3c3;

$btn-bg-color-1: #059bbc;
$btn-bg-color-1-hover: #0b819b;
$btn-bg-color-1-active: #0c7188;
$btn-color: #333;

$table-td-bg-color-odd: #3b3b3b;
$table-td-bg-color-even: #454546;
$table-th-color: #ebebeb;
$table-thead-bg-color: #5e5d5d;
$paragraph-color: #cecece;
$post-span-color: #03aed5;
$post-delete-color: #d42f2f;
$post-delete-color-hover: #c12c2c;
$post-delete-color-active: #982222;

$small-breakpoint: 280px;
$med-breakpoint: 768px;
$large-breakpoint: 1280px;

$change-delete-breakpoint: 565px;
